body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}


h1 {
    color: #0056ff;  
    font-size: 32px;
}

p {
    color: #008000; 
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}

img {
    width: 200px;
    margin-top: 20px;
    border-radius: 8px;
}
